*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    flex-wrap: wrap;
}

main {
    width: 80%;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    box-shadow: 0 0 4rem rgba(0, 0, 0, .2);
}

.slider {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    border: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.slider-holder {
    display: block;
    height: 600px;
    transition: margin 1s ease-in-out;
}

.slider-item {
    display: block;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

